<div class="row">
    <h1><u><i><b>Educación</b></i></u></h1>
    <div class="col-lg-2">
        <button type="button" class="btn btn-dark" routerLink="/nuevaedu" *ngIf="isLogged">
            Agregar Educación
        </button>
    </div>
    <div class="container text-center">
        <table class="table">
            <tbody *ngIf="isLogged">
                <tr *ngFor="let Educacion of educacion" >
                    <td><h4>{{Educacion.nombreE}}</h4></td>
                    <td><p><i>{{Educacion.descripcionE}}</i></p></td>
                    <td>
                        <button class="btn btn-outline-light" routerLink="/editedu/{{Educacion.id}}">
                        <i class="bi bi-pen"></i>EDITAR</button>
                    </td>
                    <td>
                        <button class="btn btn-outline-light" (click)="delete(Educacion.id)">
                        <i class="bi bi-trash2-fill"></i>BORRAR</button>
                    </td>
                </tr>
            </tbody>
            <tbody *ngIf="!isLogged">
                <tr>
                    <td><h4>Educación 1</h4></td>
                    <td><p>Título 1</p></td>
                </tr>
                <tr>
                    <td><h4>Educación 2</h4></td>
                    <td><p>Título 2</p></td>
                </tr>
                <tr>
                    <td><h4>Educación 3</h4></td>
                    <td><p>Título 3</p></td>                
                </tr>
            </tbody>
        </table>
    </div>
</div>