.row {
    margin: auto;
    padding: 15px;
    font-family: 'Roboto', sans-serif;
    background-image: url(../../../assets/6016334.jpg);
    background-size: cover;
    background-attachment: fixed;
    font-family: cursive;
}

h4 {
    display: inline;
}

.btn-outline-light {
    border-style:solid;
    border-color: rgb(20, 19, 20);
    border-width: 2px;
    font-family: 'Montserrat', sans-serif;
    background-color: rgb(255, 145, 200);
}

td {
    border: none;
}