<div class="row">
    <h1><u><i><b>Habilidades</b></i></u></h1>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap" rel="stylesheet">
    <div class="col-sm-4 col-md-4 col-lg-4">
        <circle-progress
         [percent]="80"
         [radius]="75"
         [title]="'HTML'"
         [titleColor]="'#ffff'"
         [titleFontSize]="'20px'"
         [outerStrokeWidth]="6"
         [innerStrokeWidth]="1"
         [outerStrokeColor]="'#FFAEE1'"
         [innerStrokeColor]="'#FF00A0'"
         [animation]="true"
         [animationDuration]="500"
        ></circle-progress>
    </div>
    <div class="col-sm-4 col-md-4 col-lg-4">
        <circle-progress
         [percent]="60"
         [radius]="75"
         [title]="'CSS'"
         [titleColor]="'#17202A'"
         [titleFontSize]="'20px'"
         [outerStrokeWidth]="6"
         [innerStrokeWidth]="1"
         [outerStrokeColor]="'#FFAEE1'"
         [innerStrokeColor]="'#FF00A0'"
         [animation]="true"
         [animationDuration]="500"
        ></circle-progress>
    </div>
    <div class="col-sm-4 col-md-4 col-lg-4">
        <circle-progress
         [percent]="85"
         [radius]="75"
         [title]="'Java'"
         [titleColor]="'#17202A'"
         [titleFontSize]="'20px'"
         [outerStrokeWidth]="6"
         [innerStrokeWidth]="1"
         [outerStrokeColor]="'#FFAEE1'"
         [innerStrokeColor]="'#FF00A0'"
         [animation]="true"
         [animationDuration]="500"
        ></circle-progress>
    </div>
    <div class="col-sm-4 col-md-4 col-lg-4">
        <circle-progress
         [percent]="10"
         [radius]="75"
         [title]="'PHP'"
         [titleColor]="'#ffff'"
         [titleFontSize]="'20px'"
         [outerStrokeWidth]="6"
         [innerStrokeWidth]="1"
         [outerStrokeColor]="'#FFAEE1'"
         [innerStrokeColor]="'#FF00A0'"
         [animation]="true"
         [animationDuration]="500"
        ></circle-progress>
    </div>
    <div class="col-sm-4 col-md-4 col-lg-4">
        <circle-progress
         [percent]="85"
         [radius]="75"
         [title]="'Angular'"
         [titleColor]="'#17202A'"
         [titleFontSize]="'20px'"
         [outerStrokeWidth]="6"
         [innerStrokeWidth]="1"
         [outerStrokeColor]="'#FFAEE1'"
         [innerStrokeColor]="'#FF00A0'"
         [animation]="true"
         [animationDuration]="500"
        ></circle-progress>
    </div>
    <div class="col-sm-4 col-md-4 col-lg-4">
        <circle-progress
         [percent]="50"
         [radius]="75"
         [title]="'Ingles'"
         [titleColor]="'#17202A'"
         [titleFontSize]="'20px'"
         [outerStrokeWidth]="6"
         [innerStrokeWidth]="1"
         [outerStrokeColor]="'#FFAEE1'"
         [innerStrokeColor]="'#FF00A0'"
         [animation]="true"
         [animationDuration]="500"
        ></circle-progress>
    </div>
</div>    