<div class="row">
   <h1>&nbsp; Habilidades</h1> 
    <div class="col-sm-2 col-md-2 col-lg-2">
        <circle-progress
         [percent]="10"
         [radius]="75"
         [title]="'PHP'"
         [titleColor]="'#17202A'"
         [titleFontSize]="'30px'"
         [outerStrokeWidth]="6"
         [innerStrokeWidth]="1"
         [outerStrokeColor]="'#FFAEE1'"
         [innerStrokeColor]="'#FF00A0'"
         [animation]="true"
         [animationDuration]="500"
        ></circle-progress>
    </div>
    <div class="col-sm-2 col-md-2 col-lg-2">
        <circle-progress
         [percent]="60"
         [radius]="75"
         [title]="'CSS'"
         [titleColor]="'#17202A'"
         [titleFontSize]="'30px'"
         [outerStrokeWidth]="6"
         [innerStrokeWidth]="1"
         [outerStrokeColor]="'#FFAEE1'"
         [innerStrokeColor]="'#FF00A0'"
         [animation]="true"
         [animationDuration]="500"
        ></circle-progress>
    </div>
    <div class="col-sm-2 col-md-2 col-lg-2">
        <circle-progress
         [percent]="85"
         [radius]="75"
         [title]="'Java'"
         [titleColor]="'#17202A'"
         [titleFontSize]="'30px'"
         [outerStrokeWidth]="6"
         [innerStrokeWidth]="1"
         [outerStrokeColor]="'#FFAEE1'"
         [innerStrokeColor]="'#FF00A0'"
         [animation]="true"
         [animationDuration]="500"
        ></circle-progress>
    </div>
    <div class="col-sm-2 col-md-2 col-lg-2">
        <circle-progress
         [percent]="60"
         [radius]="75"
         [title]="'HTML'"
         [titleColor]="'#17202A'"
         [titleFontSize]="'30px'"
         [outerStrokeWidth]="6"
         [innerStrokeWidth]="1"
         [outerStrokeColor]="'#FFAEE1'"
         [innerStrokeColor]="'#FF00A0'"
         [animation]="true"
         [animationDuration]="500"
        ></circle-progress>
    </div>
    <div class="col-sm-2 col-md-2 col-lg-2">
        <circle-progress
         [percent]="85"
         [radius]="75"
         [title]="'Angular'"
         [titleColor]="'#17202A'"
         [titleFontSize]="'30px'"
         [outerStrokeWidth]="6"
         [innerStrokeWidth]="1"
         [outerStrokeColor]="'#FFAEE1'"
         [innerStrokeColor]="'#FF00A0'"
         [animation]="true"
         [animationDuration]="500"
        ></circle-progress>
    </div>
    <div class="col-sm-2 col-md-2 col-lg-2">
        <circle-progress
         [percent]="50"
         [radius]="75"
         [title]="'Ingles'"
         [titleColor]="'#17202A'"
         [titleFontSize]="'30px'"
         [outerStrokeWidth]="6"
         [innerStrokeWidth]="1"
         [outerStrokeColor]="'#FFAEE1'"
         [innerStrokeColor]="'#FF00A0'"
         [animation]="true"
         [animationDuration]="500"
        ></circle-progress>
    </div>
</div>    