<div class="row">
    <h1><u><i><b>Experiencia Laboral</b></i></u></h1>
    <div class="col-lg-2">
        <button type="button" class="btn btn-dark" routerLink="/nuevaexp" *ngIf="isLogged">
            Nueva Experiencia
        </button>
    </div>
    <div class="container text-center">
        <table class="table">
            <tbody *ngIf="isLogged">
                <tr *ngFor="let Experiencia of expe">
                    <td><h4>{{Experiencia.nombreE}}</h4></td>
                    <td><p><i>{{Experiencia.descripcionE}}</i></p></td>
                    <td>
                        <button class="btn btn-outline-light" routerLink="/editexp/{{Experiencia.id}}">
                        <i class="bi bi-pen"></i>EDITAR</button>
                    </td>
                    <td>
                        <button class="btn btn-outline-light" (click)="delete(Experiencia.id)">
                        <i class="bi bi-trash2-fill"></i>BORRAR</button>
                    </td>
                </tr>
            </tbody>
            <tbody *ngIf="!isLogged">
                <tr>
                    <td><h4>Experiencia 1</h4></td>
                    <td><p>Tarea 1</p></td>            
                </tr>
                <tr>
                    <td><h4>Experiencia 2</h4></td>
                    <td><p>Tarea 2</p></td>            
                </tr>
                <tr>
                    <td><h4>Experiencia 3</h4></td>
                    <td><p>Tarea 3</p></td>            
                </tr>
            </tbody>
        </table>
    </div>
</div>