<div class="row"> 
     <h1><u><i><b>Proyectos</b></i></u></h1>
     <div class="col-lg-2">
        <button type="button" class="btn btn-dark" routerLink="/newproyecto" *ngIf="isLogged">
            Agregar Proyecto
        </button>
    </div>
    
    <div class="col-lg-1"></div> 
    <div class="col-lg-11">
        <table class="table">
            <tbody *ngIf="isLogged">
                <tr *ngFor="let Proyecto of proye">
                    <td><h4>{{Proyecto.nombreP}}</h4></td>
                    <td><p><i>{{Proyecto.descripcionP}}</i></p></td>
                    <td><p><i>{{Proyecto.link}}</i></p></td>
                    <td><img *ngIf="isLogged" src={{Proyecto.imgP}} class="img-fluid" id="img-proyecto"></td>
                    <td>
                        <button class="btn btn-outline-light" routerLink="/editproyecto/{{Proyecto.id}}">
                        <i class="bi bi-pen"></i>EDITAR</button>
                    </td>
                    <td>
                        <button class="btn btn-outline-light" (click)="delete(Proyecto.id)">
                        <i class="bi bi-trash2-fill"></i>BORRAR</button>
                    </td>
                </tr>
            </tbody>
            <tbody *ngIf="!isLogged">
                <tr>
                    <td><h4>Proyecto 1</h4></td>
                    <td><p><i>Descripción 1</i></p></td>
                    <td><p><i>Link 1</i></p></td>
                    <td> <img src="../../../assets/Trabajar-Proyecto-Programacion.jpg" class="img-fluid" id="fotoproyectodefault1"></td>
                </tr>
                <tr>
                    <td><h4>Proyecto 2</h4></td>
                    <td><p><i>Descripción 2</i></p></td>
                    <td><p><i>Link 2</i></p></td>
                    <td> <img src="../../../assets/Trabajar-Proyecto-Programacion.jpg" class="img-fluid" id="fotoproyectodefault2"></td>
                </tr>
                <tr>
                    <td><h4>Proyecto 3</h4></td>
                    <td><p><i>Descripción 3</i></p></td>
                    <td><p><i>Link 3</i></p></td>
                    <td> <img src="../../../assets/Trabajar-Proyecto-Programacion.jpg" class="img-fluid" id="fotoproyectodefault3"></td>
                </tr>
            </tbody>
        </table>
    </div>
</div> 
