<div class="row">
    <h1>Educacion</h1>
    <div class="col-lg-1"> </div>
        <div class="col-lg-11">
        <ul>
            <li>
                <h3>Colegio Don Bosco</h3> &nbsp; <h5>(1994-2005)</h5>
            </li>
            <p>Título secundario: Economía y Gestión de las Organizaciones.</p>
        </ul>
        <ul>
            <li>
                <h3>Instituto Argentino de Gastronomia (I.A.G)</h3> &nbsp; <h5>(2008-2010)</h5>
            </li>
            <p>Título: Cocinero Profesional.</p>
        </ul>
        <ul>
            <li>
                <h3>Instituto Argentino de Gastronomia (I.A.G)</h3> &nbsp; <h5>(2009-2010)</h5>
            </li>
            <p>Título: Pastelero Profesional.</p>
        </ul>
        <ul>
            <li>
                <h3>Argentina Programa</h3> &nbsp; <h5>(2021)</h5>
            </li>
            <p>Primera etapa #SeProgramar</p>
            <p>"APROBADO" Duración de la cursada: 60 hs.</p>
        </ul>
        <ul>
            <li>
                <h3>Argentina Programa</h3> &nbsp; <h5>(2022)</h5>
            </li>
            <p>Segunda Etapa #YoProgramo</p>
            <p>"EN CURSO" Duracion de la cursada: 480 hs</p>
        </ul>
        <ul>
            <li>
                <h3>Argentina Programa</h3> &nbsp; <h5>(2022)</h5>
            </li>
            <p>Segunda Etapa #YoProgramo</p>
            <p>"EN CURSO" Duracion de la cursada: 480 hs</p>
        </ul>
        <ul>
            <li>
                <h3>Argentina Programa</h3> &nbsp; <h5>(2022)</h5>
            </li>
            <p>Segunda Etapa #YoProgramo</p>
            <p>"EN CURSO" Duracion de la cursada: 480 hs</p>
        </ul>
        <ul>
            <li>
                <h3>Academia del Conocimiento</h3> &nbsp; <h5>(2022)</h5>
            </li>
            <p>Quality Assurance</p>
            <p>"EN CURSO" Duracion de la cursada: 320 hs</p>
        </ul>
        <ul>
            <li>
                <h3>Desarrollador Full Stack</h3> &nbsp; <h5>(2022)</h5>
            </li>
            <p>Desarrollador Full Stack</p>
            <p>"EN CURSO" Duracion de la cursada: 64 hs</p>
        </ul>
            
        </div>
</div>  
