<div class="row">
    <h1><u><i><b>Habilidades</b></i></u></h1>
    <div class="col-lg-2">
        <button type="button" routerLink="/newskill" class="btn btn-dark" *ngIf="isLogged">Nueva Habilidad</button>
    </div>

    <div class="col-sm-4 col-md-4 col-lg-4 circulo" *ngFor="let skill of skill">
        <circle-progress *ngIf="isLogged"
            [percent]="(skill.porcentaje)" 
            [radius]="75" 
            [title]="(skill.nombre)" 
            [showUnits]="false"
            [showSubtitle]="false"
            [titleColor]="'#000000'"
            [titleFontSize]="'20px'" 
            [outerStrokeWidth]="6" 
            [innerStrokeWidth]="1" 
            [outerStrokeColor]="'#FFAEE1'"
            [innerStrokeColor]="'#FF00A0'" 
            [animation]="true" 
            [animationDuration]="500"
            [startFromZero]="true"
            [lazy]="true">
        </circle-progress>
        <div>
            <td *ngIf="isLogged">
                <button class="btn btn-outline-light" routerLink="/editskill/{{skill.id}}">
                    <i class="bi bi-pen"></i></button> &nbsp;
            </td>
            <td *ngIf="isLogged">
                <button class="btn btn-outline-light" (click)="delete(skill.id)">
                    <i class="bi bi-trash2-fill"></i></button>
            </td>
        </div>
    </div>
    <div class="col-sm-4 col-md-4 col-lg-4 circulo">
        <circle-progress *ngIf="!isLogged"
            [percent]="50" 
            [radius]="75" 
            [title]="'Habilidad 1'" 
            [showUnits]="false"
            [showSubtitle]="false"
            [titleColor]="'#000000'"
            [titleFontSize]="'20px'" 
            [outerStrokeWidth]="6" 
            [innerStrokeWidth]="1" 
            [outerStrokeColor]="'#FFAEE1'"
            [innerStrokeColor]="'#FF00A0'" 
            [animation]="true" 
            [animationDuration]="500"
            [startFromZero]="true"
            [lazy]="true">
        </circle-progress>
    </div>
    <div class="col-sm-4 col-md-4 col-lg-4 circulo">
        <circle-progress *ngIf="!isLogged"
            [percent]="25" 
            [radius]="75" 
            [title]="'Habilidad 2'" 
            [showUnits]="false"
            [showSubtitle]="false"
            [titleColor]="'#000000'"
            [titleFontSize]="'20px'" 
            [outerStrokeWidth]="6" 
            [innerStrokeWidth]="1" 
            [outerStrokeColor]="'#FFAEE1'"
            [innerStrokeColor]="'#FF00A0'" 
            [animation]="true" 
            [animationDuration]="500"
            [startFromZero]="true"
            [lazy]="true">
        </circle-progress>
    </div>
    <div class="col-sm-4 col-md-4 col-lg-4 circulo">
        <circle-progress *ngIf="!isLogged"
            [percent]="75" 
            [radius]="75" 
            [title]="'Habilidad 3'" 
            [showUnits]="false"
            [showSubtitle]="false"
            [titleColor]="'#000000'"
            [titleFontSize]="'20px'" 
            [outerStrokeWidth]="6" 
            [innerStrokeWidth]="1" 
            [outerStrokeColor]="'#FFAEE1'"
            [innerStrokeColor]="'#FF00A0'" 
            [animation]="true" 
            [animationDuration]="500"
            [startFromZero]="true"
            [lazy]="true">
        </circle-progress>
    </div>
</div>