<div class="row">
        <h1><u><i><b>Experiencia Laboral:</b></i></u></h1>
    <div class="col-lg-1"> </div>
        <div class="col-lg-11">
        <ul>
            <li>
                <h3>"Opticas del Sur"</h3> &nbsp; <h5>(2007-2008 )</h5>
            </li>
            <p><i>Atención al público y Administración de caja.</i></p>
        </ul>
        <ul>
            <li>
                <h3>Resto-Bar "El Griego"</h3> &nbsp; <h5>(2010)</h5>
            </li>
            <p><i>Encargada de Cocina</i></p>
        </ul>
        <ul>
            <li>
                <h3>Pizzeria "La Pronto"</h3> &nbsp; <h5>(2010-2011)</h5>
            </li>
            <p><i>Atención al público.</i></p>
        </ul>
        <ul>
            <li>
                <h3>Grupo "New San"</h3> &nbsp; <h5>(2011-2018)</h5>
            </li>
            <p><i>Operaria de línea.</i></p>
        </ul>
        <ul>
            <li>
                <h3>"Almas Gemelas"</h3> &nbsp; <h5>(2018-2020)</h5>
            </li>
            <p><i>Atención al público.</i></p>
        </ul>
        <ul>
            <li>
                <h3>Cafeteria "La Nonna"</h3> &nbsp; <h5>(2020-2022)</h5>
            </li>
            <p><i>Atención al público.</i></p>
        </ul>
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap" rel="stylesheet">
    </div>
</div>  