.container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-image: url(../../../assets/6016334.jpg);
    background-size: cover;
    background-attachment: fixed;
}


#aplogo {
    width: 170px;
}

.logo{
    height: 90px;
}

.redes {
    margin-right: auto; 
    margin-left: 0;
    height: 30px;
}

/* configuracion redes */ 
img {
    margin-top: 2px;
    margin-right: 5px;
    width: 40px;
}

div {
    margin-right: 5px;
}

.btn-outline-light {
    border-style:solid;
    border-color: rgb(20, 19, 20);
    border-width: 2px;
    font-family: 'Montserrat', sans-serif;
    background-color: rgb(255, 145, 200);
}

/* Transicion de color*/ 
.btn-outline-light:hover {
    box-shadow: inset 165px 0 0 0 #f73395;
}

/* Para vistas chicas */
@media (max-width: 575px){
    .container {
     flex-direction: column;
    }

    .redes {
        margin: auto;
        margin-top: -10px;
        flex-direction: column;
        align-items: center;
    }

    .redes img {
        margin: 2px;
    }

    .ingreso {
        padding-top: 15px;
        display: flex;
        margin-bottom: 5px;
    }
}