<div id="navbar">
    <img src="../../../assets/APLogo-20-20.png" id="aplogo">
    <div id="redes">
        <a href="https://www.facebook.com/valc2012"><img src="../../../assets/facebook.png" alt="face"></a>
        <a href="https://github.com/ValeriaCommatteo"><img src="../../../assets/github.png" alt="git"></a>
        <a href="https://www.instagram.com/vcommatteo/"><img src="../../../assets/instagram.png" alt="instagram"></a>
        <a href="https://www.linkedin.com/in/valeria-commatteo-567106251/"><img src="../../../assets/linkedin.png" alt="linkeid"></a>
    </div>
    <div id="ingreso">
        <button type="button" class="btn btn-outline-light" (click)="login()" *ngIf="!isLogged">Ingreso</button>
        <button type="button" class="btn btn-outline-light" (click)="onLogOut()" *ngIf="isLogged">Cerrar Sesión</button>
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@1,700&display=swap" rel="stylesheet">
    </div>
</div>