<div class="row">
    <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
        <img src="../../../assets/mia.jpg" class="img-fluid" id="fotoperfil">
    </div>  
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2" id="nombre">
        <p><b>Valeria Soledad Commatteo</b></p>
        <p><b>* Full Stack Developer Jr</b></p>
        <p><b>* Tester Qa</b></p>
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@1,300&display=swap" rel="stylesheet">
    </div>
    <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8" id="acerca">
    <span>
        <h1><b>Acerca de mi</b></h1>
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Necessitatibus iste ad quo, tenetur totam sed quod consectetur ratione non, tempora quis repellat accusamus et! Temporibus illo quo beatae expedita molestias.</p>
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,100&display=swap" rel="stylesheet">
    </span>
    </div>
</div>