.row {
    padding: 20px;
}

div {
    background-color: antiquewhite;
    text-align: center;
}

#fotoperfil {
    border-radius: 100%;
    box-shadow: 3px 3px 3px #000;
}

@media (max-width: 575px) {
    #fotoperfil {
        width: 35%;
    }
}

#nombre {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: large;
}

#acerca {
    font-family: 'Roboto', sans-serif;
}


/*nombre*/
@media (min-width: 320px) and (max-width: 425px){
    #nombre {
        margin-top: 7px;
    }

}