.gradient-custom {
    /* fallback for old browsers */
    background: rgb(243, 182, 243);
    
    /* Chrome 10-25, Safari 5.1-6 */
    background: -webkit-linear-gradient(to right, rgb(243, 182, 243), rgb(176, 98, 248));
    
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background: linear-gradient(to right, rgb(243, 182, 243), rgb(176, 98, 248));
}