.row {
    margin: auto;
    padding: 20px;
    background-image: url(../../../assets/6016334.jpg);
    background-size: cover;
    background-attachment: fixed;
    font-family: cursive;
}

div {
    background-image: url(../../../assets/6016334.jpg);
    background-size: cover;
    background-attachment: fixed;
    text-align: center;
}

#fotoperfil , #fotoperfildefault {
    border-radius: 100%;
    box-shadow: 3px 3px 3px #000;
}

@media (max-width: 575px) {
    #fotoperfil {
        width: 35%;
    }
}

/*#nombre {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: large;
}*/

/*nombre
@media (min-width: 320px) and (max-width: 425px){
    #nombre {
        margin-top: 7px;
    }

}*/